{% include 'base_admin.html' %}
      <div class="container-fluid content-inner pb-0">
        <div class="row">
            <div class="col-lg-12">
               <div class="row">
                  <div class="col-lg-3">
                     <div class="card shining-card">
                        <div class="card-body">                    
                           
                           <span class="fs-5 me-2">Daily Profits</span>
                           <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M3.86124 21.6224L11.2734 16.8577C11.6095 16.6417 12.041 16.6447 12.3718 16.8655L18.9661 21.2663C19.2968 21.4871 19.7283 21.4901 20.0644 21.2741L27.875 16.2534" stroke="#BFBFBF" stroke-linecap="round" stroke-linejoin="round"></path>
                           <path d="M26.7847 13.3246L31.6677 14.0197L30.4485 18.7565L26.7847 13.3246ZM30.2822 19.4024C30.2823 19.4023 30.2823 19.4021 30.2824 19.402L30.2822 19.4024ZM31.9991 14.0669L31.9995 14.0669L32.0418 13.7699L31.9995 14.0669C31.9994 14.0669 31.9993 14.0669 31.9991 14.0669Z" fill="#BFBFBF" stroke="#BFBFBF"></path>
                           </svg>
                           <div class="pt-3">
                              <h4 class="counter" style="visibility: visible;">$34.850,10</h4>
                              <div class="pt-3">
                                 <small>+ 0.8%</small>
                              </div>
                           </div>
                        </div>            
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="card shining-card">
                        <div class="card-body">                    
                           
                           <span class="fs-5 me-2">Monthly Profit</span>
                           <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M3.86124 21.6224L11.2734 16.8577C11.6095 16.6417 12.041 16.6447 12.3718 16.8655L18.9661 21.2663C19.2968 21.4871 19.7283 21.4901 20.0644 21.2741L27.875 16.2534" stroke="#BFBFBF" stroke-linecap="round" stroke-linejoin="round"></path>
                           <path d="M26.7847 13.3246L31.6677 14.0197L30.4485 18.7565L26.7847 13.3246ZM30.2822 19.4024C30.2823 19.4023 30.2823 19.4021 30.2824 19.402L30.2822 19.4024ZM31.9991 14.0669L31.9995 14.0669L32.0418 13.7699L31.9995 14.0669C31.9994 14.0669 31.9993 14.0669 31.9991 14.0669Z" fill="#BFBFBF" stroke="#BFBFBF"></path>
                           </svg>
                           <div class="progress-detail pt-3">
                              <h4 class="counter" style="visibility: visible;">$2,138.87</h4>
                              <div class="pt-3">
                              <small>+ 0.8%</small>
                              </div>
                           </div>
                        </div>            
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="card shining-card">
                        <div class="card-body">                    
                           
                           <span class="fs-5 me-2">Total Balance</span>
                           <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M3.86124 21.6224L11.2734 16.8577C11.6095 16.6417 12.041 16.6447 12.3718 16.8655L18.9661 21.2663C19.2968 21.4871 19.7283 21.4901 20.0644 21.2741L27.875 16.2534" stroke="#BFBFBF" stroke-linecap="round" stroke-linejoin="round"></path>
                           <path d="M26.7847 13.3246L31.6677 14.0197L30.4485 18.7565L26.7847 13.3246ZM30.2822 19.4024C30.2823 19.4023 30.2823 19.4021 30.2824 19.402L30.2822 19.4024ZM31.9991 14.0669L31.9995 14.0669L32.0418 13.7699L31.9995 14.0669C31.9994 14.0669 31.9993 14.0669 31.9991 14.0669Z" fill="#BFBFBF" stroke="#BFBFBF"></path>
                           </svg>
                           <div class="progress-detail pt-3">
                              <h4 class="counter" style="visibility: visible;">$34.850,10</h4>
                              <div class="pt-3">
                              <small>+ 0.8%</small>
                              </div>
                           </div>
                        </div>            
                     </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="card shining-card">
                       <div class="card-body">                    
                          
                          <span class="fs-5 me-2">Total Users</span>
                          <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3.86124 21.6224L11.2734 16.8577C11.6095 16.6417 12.041 16.6447 12.3718 16.8655L18.9661 21.2663C19.2968 21.4871 19.7283 21.4901 20.0644 21.2741L27.875 16.2534" stroke="#BFBFBF" stroke-linecap="round" stroke-linejoin="round"></path>
                          <path d="M26.7847 13.3246L31.6677 14.0197L30.4485 18.7565L26.7847 13.3246ZM30.2822 19.4024C30.2823 19.4023 30.2823 19.4021 30.2824 19.402L30.2822 19.4024ZM31.9991 14.0669L31.9995 14.0669L32.0418 13.7699L31.9995 14.0669C31.9994 14.0669 31.9993 14.0669 31.9991 14.0669Z" fill="#BFBFBF" stroke="#BFBFBF"></path>
                          </svg>
                          <div class="progress-detail pt-3">
                             <h4 class="counter" style="visibility: visible;">$34.850,10</h4>
                             <div class="pt-3">
                             <small>+ 0.8%</small>
                             </div>
                          </div>
                       </div>            
                    </div>
                 </div>
                  <div class="col-lg-6">
                     <div class="card">
                        <div class="card-header d-flex justify-content-between flex-wrap">
                           <div class="header-title ">
                              <h4 class="card-title"></h4>        
                           </div>
                           
                        </div>
                        <div class="card-body">
                           
                        </div>                                          
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="card">
                        <div class="card-header">
                           <div class="header-title ">
                              <h4 class="card-title">Summary</h4>        
                           </div>
                        </div>
                        <div class="card-body text-center">
                           <div class="row">
                           <div class="col-md-6"> 
                              <div class="card bg-soft-secondary align-items-center shadow-none mb-lg-0 pt-4">
                                 <div class="avatar bg-secondary p-2 mb-2">
                                    <svg width="50" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M33.4767 40.8511H12.997C12.5855 40.8511 12.3502 40.3818 12.5963 40.052L34.1225 11.207C34.4103 10.8214 35.0233 11.0249 35.0233 11.506V30.7766C35.0233 31.0527 35.2471 31.2766 35.5233 31.2766H55.9584C56.3779 31.2766 56.6109 31.762 56.3486 32.0893L34.8669 58.8895C34.5714 59.2581 33.9767 59.0492 33.9767 58.5768V41.3511C33.9767 41.0749 33.7529 40.8511 33.4767 40.8511Z" stroke="white"></path>
                                    </svg>
                                 </div>
                                 <h6 class="pt-4">This Week </h6>                  
                                 <div class="pt-4">
                                    <h5 class="counter" style="visibility: visible;">$3.45K
                                       <span>
                                          <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="green">
                                          <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                                          </svg>
                                       </span>
                                    </h5>
                                    <div class="pt-4">
                                       <div class="pb-3">
                                       <small>+ 64%</small>  
                                       </div> 
                                    </div>                       
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6"> 
                              <div class="card bg-soft-secondary align-items-center pt-4 shadow-none mb-0">
                                 <div class="avatar bg-secondary p-2 mb-2">
                                    <svg width="50" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7 41V16C7 15.4477 7.44772 15 8 15H35" stroke="white" stroke-linecap="round"></path>
                                    <path d="M63.3612 39.8457C63.5522 39.6462 63.5452 39.3297 63.3457 39.1388C63.1462 38.9478 62.8297 38.9548 62.6388 39.1543L63.3612 39.8457ZM49.804 53.2893L49.4427 52.9436L49.804 53.2893ZM48.4021 53.3317L48.7418 52.9649L48.4021 53.3317ZM62.6388 39.1543L49.4427 52.9436L50.1652 53.635L63.3612 39.8457L62.6388 39.1543ZM48.7418 52.9649L7.33969 14.6331L6.66031 15.3669L48.0624 53.6986L48.7418 52.9649ZM49.4427 52.9436C49.254 53.1408 48.9421 53.1503 48.7418 52.9649L48.0624 53.6986C48.6632 54.2549 49.5991 54.2266 50.1652 53.635L49.4427 52.9436Z" fill="white"></path>
                                    </svg>
                                 </div>
                                 <h6 class="pt-4">This Month </h6>                  
                                 <div class="pt-4">
                                    <h5 class="counter" style="visibility: visible;">$3.45K
                                       <span>
                                          <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="red">
                                          <path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                          </svg>
                                       </span>
                                    </h5>
                                    <div class="pt-4 pb-3">
                                       <small>- 31%</small>
                                    </div>
                                 </div>
                              </div>
                           </div>              
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
</div>
      </div>
      </main>
     
    <!-- Wrapper End-->
    <!-- offcanvas start -->

    <!-- Backend Bundle JavaScript -->
    <script src="/static/assets/js/libs.min.js"></script>
    <!-- widgetchart JavaScript -->
    <script src="/static/assets/js/charts/widgetcharts.js"></script>
    <!-- fslightbox JavaScript -->
    <script src="/static/assets/js/fslightbox.js"></script>
    <!-- app JavaScript -->
    <script src="/static/assets/js/app.js"></script>
    <!-- apexchart JavaScript -->
    <script src="/static/assets/js/charts/apexcharts.js"></script>

    
  </body>
</html>