{% include 'base_admin.html' %}
        <div class="container-fluid content-inner pb-0">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                      <div class="card-header">
                         <div class="header-title" style="/* background: #ffffff08; *//* padding: 10;/* border-radius: 4px; */: 4px;background: #ffffff08;padding: 20px!important;/* margin: 15px 15px 19px 15px; */border-radius: 6px!important;height: fit-content;">
                            <h4 class="card-title">Posts</h4>
                         </div>
                      </div>
                      <div class="card-body" id="posts_list" style="max-height: 310px;overflow-y: scroll;margin-top: 14px;">
                            {% for post in posts %}
                            <div post_id="1" user_id="1" data-testid="conversation-list-item" class="ez972386 intercom-1x83fso e13m0kgk1 alert alert-none d-flex align-items-center" role="button" tabindex="0" onclick="openPost(this,'{{post.id}}')" style="border-radius: 5px;">
                                <div class="intercom-1ya2i8a e13m0kgk0">
                                        <div class="intercom-1gb1rig ez972381">
                                            <div class="intercom-dv934d ez972380">
                                            <span class="intercom-13impe">{{post.title}}</span>
                                            </div>
                                            <div class="intercom-t6mohh ez972384">
                                            <div class="intercom-sv4aw ez972385">{{post.writer}} | </div>
                                            <div>{{post.created_at}}</div>
                                            </div>
                                        </div>
                                </div>
                                <div class="intercom-t3a5jf e13m0kgk5">
                                        <i color="linkColor" size="16" class="intercom-1c2cktu e1fransm0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M5.42773 4.70898C5.46387 4.85254 5.53809 4.98828 5.65039 5.10059L8.54932 8L5.64893 10.9004C5.31689 11.2324 5.31689 11.7705 5.64893 12.1025C5.98096 12.4336 6.51904 12.4336 6.85107 12.1025L10.3516 8.60059C10.5591 8.39355 10.6367 8.10449 10.585 7.83691C10.5537 7.67578 10.4761 7.52246 10.3516 7.39844L6.85254 3.89941C6.52051 3.56738 5.98242 3.56738 5.65039 3.89941C5.43066 4.11816 5.35645 4.42871 5.42773 4.70898Z" fill="#ffffff"></path>
                                            </svg>
                                        </i>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                   </div>
                 </div>
                <div class="col-md-8">
                    <button type="button" style="width:100%;margin-bottom: 10px;" id="new_post" class="btn btn-outline-primary hidden">New Post</button>
                    <div class="card">
                        <div class="card-body">
                            
                            <form th:object="${post}" id="post_form">
        
                                <div class="form-group">
                                    <label for="title">Title:</label>
                                    <input type="text" id="post_title" placeholder="Title" autocomplete="off" class="form-control"
                                           th:field="*{title}"/>
                                </div>
        
                                <div class="form-group">
                                    <label for="title">Writer:</label>
                                    <input type="text"  id="post_writer" placeholder="Title" autocomplete="off" class="form-control"
                                           th:field="*{title}"/>
                                </div>

                                <div class="form-group">
                                    <label for="title">Category:</label>
                                    <select class="form-select" id="post_category">
                                        {% for cat in cats %}
                                        <option value="{{cat.id}}">{{cat.title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                
                                <div class="form-group">
                                    <label for="content">Content:</label>
                                    <textarea type="text" id="post_content" rows="4" id="content" placeholder="Content" class="form-control"
                                              th:field="*{content}" autocomplete="off"></textarea>
                                </div>
                
                                <button class="btn btn-primary" id="publish_btn">Publish</button>
                                <button class="btn btn-primary hidden" id="edit_btn">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </main>
     
    <!-- Wrapper End-->
    <!-- offcanvas start -->

    <!-- Backend Bundle JavaScript -->
    <script src="/static/assets/js/libs.min.js"></script>
    <!-- widgetchart JavaScript -->
    <script src="/static/assets/js/charts/widgetcharts.js"></script>
    <!-- fslightbox JavaScript -->
    <script src="/static/assets/js/fslightbox.js"></script>
    <!-- app JavaScript -->
    <script src="/static/assets/js/app.js"></script>
    <!-- apexchart JavaScript -->
    <script src="/static/assets/js/charts/apexcharts.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#post_content').summernote({
                height: 200
            });
        });
    </script>

    <script>
        publish_btn.addEventListener("click",async function(evt){
            evt.preventDefault();
            validData = true;
            [...[post_title,post_content,post_writer]].forEach(e=>{
                if(e.value == ""){
                    e.classList.add("is-invalid")
                    validData = false
                }
                else{
                    e.classList.remove("is-invalid")
                }
            })
            let oldHTML = this.innerHTML
            if(validData){
                this.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="visually-hidden">Loading...</span>'
                await fetch(`/admin/blog/posts`,{
                    'method':'POST',
                    'headers':{
                        'Content-Type':'application/json'
                    },
                    'body':JSON.stringify({
                        'title':post_title.value,
                        'content':post_content.value,
                        'writer':post_writer.value,
                        'category_id':post_category.value,
                    })

                })
                .then(res=>res.json())
                .then(res=>{
                    if(res['ok']){
                        swal("Success", res['message'], "success")
                        posts_list.insertAdjacentHTML('beforeend',`
                        <div post_id="1" user_id="1" data-testid="conversation-list-item" class="ez972386 intercom-1x83fso e13m0kgk1 alert alert-none d-flex align-items-center" role="button" tabindex="0" onclick="openPost(this,${res['id']})" style="border-radius: 5px;">
                                <div class="intercom-1ya2i8a e13m0kgk0">
                                        <div class="intercom-1gb1rig ez972381">
                                            <div class="intercom-dv934d ez972380">
                                            <span class="intercom-13impe">${post_title.value}</span>
                                            </div>
                                            <div class="intercom-t6mohh ez972384">
                                            <div class="intercom-sv4aw ez972385">${post_writer.value} | </div>
                                            <div>None</div>
                                            </div>
                                        </div>
                                </div>
                                <div class="intercom-t3a5jf e13m0kgk5">
                                        <i color="linkColor" size="16" class="intercom-1c2cktu e1fransm0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M5.42773 4.70898C5.46387 4.85254 5.53809 4.98828 5.65039 5.10059L8.54932 8L5.64893 10.9004C5.31689 11.2324 5.31689 11.7705 5.64893 12.1025C5.98096 12.4336 6.51904 12.4336 6.85107 12.1025L10.3516 8.60059C10.5591 8.39355 10.6367 8.10449 10.585 7.83691C10.5537 7.67578 10.4761 7.52246 10.3516 7.39844L6.85254 3.89941C6.52051 3.56738 5.98242 3.56738 5.65039 3.89941C5.43066 4.11816 5.35645 4.42871 5.42773 4.70898Z" fill="#ffffff"></path>
                                            </svg>
                                        </i>
                                </div>
                            </div>
                        `)
                    }
                    else{
                        swal("Error", res['message'], "error")
                    }
                })
                .finally(()=>{
                    this.innerHTML = oldHTML
                })
            }
            
        })

        edit_btn.addEventListener("click",async function(evt){
            evt.preventDefault();
            validData = true;
            [...[post_title,post_content,post_writer]].forEach(e=>{
                if(e.value == ""){
                    e.classList.add("is-invalid")
                    validData = false
                }
                else{
                    e.classList.remove("is-invalid")
                }
            })
            let oldHTML = this.innerHTML
            if(validData){
                this.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="visually-hidden">Loading...</span>'
                await fetch(`/admin/blog/posts/${localStorage.getItem("post_to_edit")}`,{
                    'method':'PUT',
                    'headers':{
                        'Content-Type':'application/json'
                    },
                    'body':JSON.stringify({
                        'title':post_title.value,
                        'content':post_content.value,
                        'writer':post_writer.value,
                    })

                })
                .then(res=>res.json())
                .then(res=>{
                    if(res['ok']){
                        swal("Success", res['message'], "success")
                    }
                    else{
                        swal("Error", res['message'], "error")
                    }
                })
                .finally(()=>{
                    this.innerHTML = oldHTML
                })
            }
            
        })

        async function openPost(self,post_id){
            new_post.classList.remove('hidden')
            publish_btn.classList.add('hidden')
            edit_btn.classList.remove('hidden')
            localStorage.setItem("post_to_edit",post_id)
            await fetch(`/admin/blog/posts?post_id=${post_id}`,{
                'method':'GET',
                'headers':{
                    'Content-Type':'application/json'
                }
            })
            .then(res=>res.json())
            .then(res=>{
                console.log(res)
                post_title.value = res['title']
                document.querySelector('.note-editable.card-block').innerHTML = res['content']
                post_writer.value = res['writer']
            })
        }

        new_post.addEventListener("click",function(){
            this.classList.remove('hidden')
            publish_btn.classList.remove('hidden')
            edit_btn.classList.add('hidden')
            post_title.value = ""
            document.querySelector('.note-editable.card-block').innerHTML = ""
            post_writer.value = ""
        });

        [...[post_title,post_content,post_writer]].forEach(e=>{
            e.addEventListener("input",function(){
                if(this.value != ""){
                    this.classList.remove("is-invalid")
                }
            })
        })
    </script>

  </body>
</html>