{% extends 'base.html' %}    
{% block title %}Coinex | Open Orders{% endblock %}
{% block content %}
      <div class="container-fluid content-inner pb-0" style="padding:0">
            <div class="wrapper">
                    <!--div class="card card-block card-stretch custom-scroll" style="background: transparent;">
                        <div class="card-body" style="background: transparent;">
                            <div class="btn-check-group" style="margin-bottom: 32px;">
                                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                    <input type="checkbox" class="btn-check">
                                    <label class="btn btn-sm btn-secondary active rounded-start">Buy/Sell</label>
                
                                    <input type="checkbox" class="btn-check">
                                    <label class="btn btn-sm btn-secondary">Smart Trade</label>
                
                                    <input type="checkbox" class="btn-check">
                                    <label class="btn btn-sm btn-secondary">Smart Buy</label>
                
                                    <input type="checkbox" class="btn-check">
                                    <label class="btn btn-sm btn-secondary rounded-end">Smart Sell</label>
                                 </div>
                            </div>
                        </div>
                     </div-->
            </div>
            <div class="col-lg-12">
                <div class="card card-block card-stretch custom-scroll">
                   <div class="card-body">
                      <div class="table-responsive">
                         <table class="table data-table mb-0">
                            <thead>
                               <tr>
                                  <th class="col">Order Time</th>
                                    <th class="col">Symbol</th>
                                    <th class="col">Side</th>
                                    <th class="col">Filled | Total</th>
                                    <th class="col">Order type</th>
                                    <th class="col">Trigger Price</th>
                                    <th class="col">Order price</th>
                                    <th class="col">Reduce-only</th>
                                    <th class="col">Status</th>
                                    <th class="col">Action</th>
                                 </tr>
                            </thead>

                               <tbody id="assetsTable">
                                {% for order in orders|reverse %}
                                  <tr class="white-space-no-wrap" idNum="{{order.id}}">
                                    <td class="pe-2 timestamp">{{order.time}}</td>
                                     <td class="pe-2">{{order.symbol}}</td>
                                     <td class="pe-2">{{order.side}}</td>
                                     <td class="pe-2">{{order.filled_amount}} | {{order.total_amount}}</td>
                                    <td class="pe-2">{{order.order_type}}</td>
                                    <td class="pe-2">{{order.trigger_price}}</td>
                                    <td class="pe-2">{{order.order_price}}</td>
                                    <td class="pe-2">{{order.reduceOnly}}</td>
                                    <td class="pe-2">{{order.status}}</td>
                                    <td class="pe-2">
                                      <button class="btn btn-primary" onclick="cancel_order('{{order.id}}','{{order.symbol}}')">Cancel</button>
                                    </td>
                                  </tr>
                               {% endfor %}
                            </tbody>
                         </table>
                         
                      </div>
                      {% if total_pages > 1 %}
                            <ul class="pagination">
                                {% if current_page > 1 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('history_open_orders', exchange_name='okex', page=current_page-1) }}">
                                        «
                                    </a>
                                </li>
                                {% endif %}
                                {% for page_num in range(1, total_pages + 1) %}
                                <li class="page-item {% if page_num == current_page %}active{% endif %}">
                                    <a class="page-link" href="{{ url_for('history_open_orders', exchange_name='okex', page=page_num) }}">
                                        {{ page_num }}
                                    </a>
                                </li>
                                {% endfor %}
                                {% if current_page < total_pages %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('history_open_orders', exchange_name='okex', page=current_page+1) }}">
                                        »
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                   </div>
                </div>
             </div>
        </div>
    </div>

    </script>
  </body>
  <!-- Wrapper End-->
    <!-- offcanvas start -->

    <!-- Backend Bundle JavaScript -->
    <script src="/static/assets/js/libs.min.js"></script>
    <!-- widgetchart JavaScript -->
    <script src="/static/assets/js/charts/widgetcharts.js"></script>
    <!-- fslightbox JavaScript -->
    <script src="/static/assets/js/fslightbox.js"></script>
    <!-- app JavaScript -->
    <script src="/static/assets/js/app.js"></script>
    <!-- apexchart JavaScript -->
    <script src="/static/assets/js/charts/apexcharts.js"></script>

    <script>
      document.querySelector('#sidebar').querySelectorAll("a.nav-link")[4].classList.add("active")
      document.querySelector('#sidebar').querySelectorAll("a.nav-link")[5].classList.add("active")
      async function cancel_order(id,symbol) {
        [...assetsTable.querySelectorAll("tr")].filter(e=>e.getAttribute("idNum")==id)[0].querySelector("button").innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="visually-hidden">Loading...</span>'
        await fetch("/api/v1/order/cancel", {
          method: "POST",
          headers: {
            'Content-Type': 'application/json',
         },
          body: JSON.stringify({
            id: id,
            exchange:selectedExchangeMain.value,
            symbol:symbol,
          })
        })
        .then((response) => response.json())
        .then((data)=>{
            if (data.ok){
              [...assetsTable.querySelectorAll("tr")].filter(e=>e.getAttribute("idNum")==id)[0].remove();
              swal("Order Cancelled", data.message, "success")
            }
            
            else
            swal("Error", data.message, "error")
          })
          .catch((error) => {
            console.error("Error:", error);
          })
          .finally(()=>{
            [...assetsTable.querySelectorAll("tr")].filter(e=>e.getAttribute("idNum")==id)[0].querySelector("button").innerHTML = 'cancel'
          })
      }

      document.querySelectorAll(".timestamp").forEach(e=>{
            e.innerHTML =  Intl.DateTimeFormat('en-us',{
                year: "numeric",
                month: "numeric",
                day: "numeric",
                hour: "numeric",
                minute: "numeric",
                second: "numeric",
                hour12: false,
                timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone,
            }).format(e.innerHTML)
        })
    </script>
</html>
{% endblock %}